<div class="marginleft">
    <p>{{ video }}</p>
    <mat-checkbox [checked]="autoplay" (change)="autoplay = !autoplay; updatePlayerConfig()">Autoplay</mat-checkbox><br>
    <mat-checkbox [checked]="loop" (change)="loop = !loop; updatePlayerConfig()">Loop</mat-checkbox>
</div>
<div class="buttons">
    <p></p>
    <button [cdkCopyToClipboard]="videoUrl" class="centerButton" mat-raised-button color="accent">Copy URL</button>
    <button (click)="open()" class="centerButton" mat-raised-button color="accent">Open in Browser</button>

</div>