<div class="marginleft">
    <p>{{ video }}</p>
    <mat-checkbox #autoplay (change)="updatePlayerConfig(autoplay.checked, loop.checked)">Autoplay</mat-checkbox><br>
    <mat-checkbox #loop (change)="updatePlayerConfig(autoplay.checked, loop.checked)">Loop</mat-checkbox>
</div>
<div class="buttons">
    <p></p>
    <button [cdkCopyToClipboard]="videoUrl" class="centerButton" mat-raised-button color="accent">Copy URL</button>
    <button (click)="open()" class="centerButton" mat-raised-button color="accent">Open in Browser</button>

</div>