iframe {
    height: 100vh;
    width: 100%;
}

#player {
    height: 100vh;
}

.showLoading {
    width: 50%;
    height: 100vh;
    background-color: #171e22;
    z-index: 999999;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
