<!--iframe id="player" width="560" height="315" [src]="currentVideo" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->
<div class="plyr__video-embed" id="player">
    <iframe
        src="https://www.youtube.com/embed/SVp_PF35ypc"
        allowfullscreen
        frameborder="0"
        allowtransparency
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    ></iframe>
</div>

<div class="showLoading" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>